.container {
  width: 80%;

  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}

.cartimg {
  width: 70px;
  height: 50px;
}

.quantity {
  width: 2.5rem;
}

.description {
  width: 40%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
}
