.cart__wrapper {
  /* background-color: brown; */
  padding: 10px;
}

.cart__wrapper h3 {
  text-align: center;
}

.cart__total {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart__total .fig {
  font-size: 32px;
}

.checkout,
.clear__cart {
  padding: 15px 40px;

  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 400;
  margin-bottom: 10px;
}

.checkout {
  background-color: hsl(0, 56%, 60%);
}

.checkout:hover {
  background-color: hsl(0, 56%, 40%);
  transition: all 0.5s ease-in-out;
}

.clear__cart {
  background-color: hsl(0, 0%, 60%);
}
.clear__cart:hover {
  background-color: hsl(0, 0%, 10%);
  transition: all 0.5s ease-in-out;
}

.cart__actions {
  width: 40%;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 700px) {
  .cart__actions {
    width: 50%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .cart__total {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
