.card__container {
  /* margin-top: 3rem; */
  width: 250px;
  background-color: #a56f6f;
  height: 250px;
  border-radius: 5px;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
}

.image__holder {
  width: 100%;
  height: 60%;
  background-color: hsl(0, 3%, 80%);
  position: relative;
  border-radius: 4px 4px 0 0;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: grid;
  place-items: center;
}
.additem {
  height: 30px;
  width: 100%;
  background-color: #050202;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 0;
  border-radius: 8px 8px 0 0;
  opacity: 0;
}
.additem:hover {
  display: block;
  opacity: 1;
  cursor: pointer;
}
.discount {
  position: absolute;
  top: 3%;
  left: 2%;
  background-color: hsl(0, 65%, 39%);
  font-size: 0.8rem;
  border-radius: 8px;
  padding: 4px 8px;
}

.heart {
  position: absolute;
  right: 5%;
  top: 10%;
}

.preview {
  position: absolute;

  right: 5%;
  top: 30%;
}

.details {
  background-color: #fff;
  height: 40%;
  padding: 3px 6px;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 4px 4px;
}
.productname {
  /* background-color: red; */
  margin: 5px 2px;
}
.price {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.new__price {
  color: red;
}
.old__price {
  text-decoration: line-through;
}
