.container {
  width: 90%;
  margin: 0 auto;
  background-color: hsl(349, 59%, 94%);
  padding: 10px;
}
.allproductgrid {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  place-items: center;
}

@media only screen and (max-width: 700px) {
  .allproductgrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
