.container {
  width: 90%;
  margin: 0 auto;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  /* background-color: rgb(4, 4, 32); */
  /* color: aliceblue; */
}

.nav__left {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.logo {
  margin-left: 10px;
}

.nav__menu {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

.nav__item {
  margin-right: 0.8rem;
  /* background-color: green; */
  padding: 8px;
}

.nav__item:hover {
  border-bottom: 1px black solid;
  transform: all 1s ease;
  cursor: pointer;
}

.nav__right {
  display: flex;
  width: 40%;
  height: inherit;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: red; */
}

input {
  background-color: hsl(0, 2%, 90%);
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 0.8rem;
  width: 50%;
  outline: none;
}
input:hover {
  outline-style: groove;
}

input:focus {
  outline-color: hsl(0, 83%, 2%);
}

.cart,
.heart {
  position: relative;
  width: 25px;
  transition: all 0.3s ease;
}

.cart:hover {
  transform: scaleX(1.2);
}

.heart:hover {
  transform: scaleX(1.2);
}

.cart__count {
  position: absolute;
  top: -10%;
  right: -10%;
  color: white;
  background-color: red;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  text-align: center;
  padding: 0.5px;
  font-size: 0.8rem;
}

@media screen and (max-width: 700px) {
  .nav__menu {
    display: none;
  }
}
